{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-rational-order"
  ],
  "plugins": [
    "stylelint-scss",
    "stylelint-order"
  ],
  "defaultSeverity": "warning",
  "rules": {}
}